<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Code</th>
      <th>Temp</th>
      <th>Wind Speed</th>
      <th>Wind Direction</th>
      <th>Pressure</th>
    </tr>
  </thead>
  <tbody>
    {{#each reports}}
    <tr>
      <td>
        {{this.code}}
      </td>
      <td>
        {{this.temp}}
      </td>
      <td>
        {{this.wind_speed}}
      </td>
      <td>
        {{this.wind_direction}}
      </td>
      <td>
        {{this.pressure}}
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>